body {
    background-color: #d3e5f2;
    color: #2d3b37;
    font-family: Candara;
    margin: 22pt;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
}

#content {
    text-align: center;
}

#header {
    text-align: center;
    font-weight: bold;
}

#comments {
    float: left;
    margin-left: 400px;
    text-align: center;
}

#friends {
    float: right;
    margin-right: 400px;
    text-align: center;
}

.circle {
    width: 10px;
    height: 10px;
    line-height: 10px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: #363636;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    text-decoration: none;
    background: #4E9CAF;
    padding: 6px;
    text-align: center;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
}
